@use '@/colors' as *;

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 40dvh;
    height: fit-content;
    width: clamp(150px, 80vw, 400px);
    box-shadow: 1px 1px 5px $accent;
    background-color: $secondary;
    color: $background;

    .main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .end {
        button {
            background-color: $secondary;
        }
    }
}
