@use '@/colors' as *;

$margin: 5px;
$padding: 5px;

.end {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin: $margin;
    padding: $padding;
    width: calc(100% - $margin * 2 - $padding * 2);
    justify-content: flex-end;

    button {
        background-color: $background;
        padding: 5px;
        color: $secondary;
    }
}
