@use '@/colors' as *;

.about {
    display: flex;
    justify-content: space-between;
    background-color: $secondary;
    color: $background;
    padding: 15px;
    margin: 10px;
    width: clamp(0px, 80vw, 800px);
    transition: scale 0.1s;
    box-shadow: 1px 1px 3px $accent;

    section {
        h2 {
            text-wrap: nowrap;
            font-size: clamp(10px, 5vw, 40px);
        }

        p {
            text-align: left;
        }
    }
    
    img {
        align-self: center;
        display: block;
        height: clamp(75px, 30vw, 300px);
    }

}

.about:hover {
    scale: 1.02;
    box-shadow: 3px 3px 5px $accent;
}
