@use '@/colors' as *;

.productCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px;
    height: 350px;
    width: clamp(20px, 80vw, 300px);
    background-color: $secondary;
    box-shadow: 1px 1px 5px $accent;
    transition: all 0.1s;

    h2 {
        font-size: 23px;
        text-align: center;
        border-bottom: 4px solid $accent;
        padding: 5px;
    }

    .imageWrap {
        display: flex;
        justify-content: center;
        width: 70%;
        padding: 5px;

        img {
            padding: 5px;
        }
    }

    p {
        align-self: flex-start;
        font-size: clamp(15px, 2vw, 15px);
    }

    p:last-child {
        align-self: flex-end;
        background-color: $accent;
        padding: 5px;
    }
}

.productCard:hover {
    box-shadow: 3px 3px 5px $accent;
    scale: 1.03;
    @media screen and (min-width: $max-phone) {
        scale: 1.02;
    }
}
