@use '@/colors' as *;

.productCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px;
    height: 350px;
    width: clamp(20px, 80vw, 300px);
    background-color: $secondary;
    box-shadow: 1px 1px 5px $accent;
    transition: all 0.1s;

    h2 {
        font-size: 23px;
        text-align: center;
        border-bottom: 4px solid $accent;
        padding: 5px;
    }

    .imageWrap {
        display: flex;
        justify-content: center;
        width: 70%;
        padding: 5px;

        img {
            padding: 5px;
        }
    }

    p {
        align-self: flex-start;
        font-size: clamp(15px, 2vw, 15px);
    }

    .cardEnd {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 90%;
        
        button {
            user-select: none;
            text-justify:distribute;
            text-align: center;
            width: 50px;
            height: 50px;
            font-size: 40px;
            font-weight: 1000;
            transition: all 0.1s;
        }

        button:hover {
            background-color: $secondary-pale;
        }
        
        p {
            align-self: center;
            background-color: $accent;
            padding: 5px;
            margin: 5px;
        }
    }
}

.productCard:hover {
    box-shadow: 3px 3px 5px $accent;
    scale: 1.03;
    @media screen and (min-width: $max-phone) {
        scale: 1.02;
    }
}
