@use '@/colors' as *;

.orderProductCard {
    $margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: clamp(100px, calc(50% - margin * 2), 300px);
    margin: $margin;
    transition: all 0.1s;

    img {
        width: 75px;
    }
}

.orderProductCard:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
