$background: #fcea98;
$main: #ff9b54;
$secondary: #7068ff;
$secondary-pale: #8983ff;
$accent: #2967ca;
$main-text: #3d3d3d;
$secondary-text: #bd4f00;
$nav-hover: #ff8c3b;


// media width:
$max-phone: 850px;