@use 'colors' as *;

html, body, h1, h2, button, ul, li, a, p{
    all: unset
}

html {
    height: 100%;
    min-height: 100%;
    font-weight: 800;
    font-size: clamp(10px, 5vw, 20px);
}

body {
    background-color: $background;
    color: $main-text;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    font-weight: inherit;
}

h1 {
    font-size: clamp(20px, 4vw, 30px);
    font-weight: 800;
}

h2 {
    font-size: clamp(10px, 5vw, 40px);;
}

a, button {
    cursor: pointer;
}

p, label, input {
    font-size: clamp(5px, 3vw, 20px);
    display: block;
}

.main {
    padding: 20px 10px;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
