@use 'colors' as *;

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $secondary;
    color: $background;

    .main {
    
    }

    .end {
        button {
            background-color: $secondary;
        }
    }
}
