@use 'variables' as *;


$line-width: 2px;
$nav-item-padding: clamp(1px, 1vw, 5px);
$nav-item-margin: clamp(1px, 1vw, 5px);

.nav {
    display: flex;
    align-items: center;
    list-style: none;
    text-wrap: nowrap;
    font-size:  clamp(6px, 4vw, 20px);

    @media screen and (min-width: $max-phone) {
        height: 100%;
    }
}

.ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 5px;
    height: 100%;

    a {
        display: flex;
        align-items: center;
        position: relative;
        padding: $nav-item-padding;
        margin: $nav-item-margin;
        height: clamp(20px, 50%, 30px);
        transition: background-color 0.1s;
    }

    a:hover {
        background-color: $nav-hover;
    }

    a:nth-child(n+2)::before {
        content: '';
        pointer-events: none;
        display: inline-block;
        position: absolute;
        cursor: default;
        height: clamp(25px, 120%, 50px);
        background-color: #ffb179;

        width: $line-width;
        left: calc(($nav-item-margin + $line-width / 2) * -1);
        @media screen and (min-width: $max-phone) {
            width: $line-width * 2;
            left: calc(($nav-item-margin + $line-width) * -1);
        }
    }
}
